

input.textbox
{
	width: 150px;
}
select
{
	width: 155px;
}
input.button
{
	width: 140px;
}

table
{
	border-collapse: collapse;
}

fieldset 
{
    vertical-align:middle;
}

fieldset.Select
{
    
    width:50%;
    margin: auto;
    float: left;
    min-height: 150px; 
}
fieldset.Options
{
    margin: auto;
    min-height: 150px; 
}
fieldset.Config
{
    
    width:50%;
    margin: auto;
    float: left;
    min-height: 120px;
}
fieldset.CreateRelationship
{
    
    min-height: 120px;
    text-align: right;
    position: relative;
    
    
}
LEGEND
{
	padding: 5px;
    text-align: left;
}